<AbsoluteLayout width="100%" height="100%" class="bg-cxx-color">
    <DockLayout width="100%" height="100%" stretchLastChild="true">
        <Button dock="left" text="" class="bg-cxx-color" width="25%" style="margin: 5;"></Button>
        <Button dock="right" text="" class="bg-cxx-color" width="25%" style="margin: 5;"></Button>
        <Button dock="top" text="" class="bg-cxx-color" height="40%"style="margin: 5;"></Button>

        <StackLayout class="form" [formGroup]="loginForm">
            
            <StackLayout class="input-field">
              <TextField hint="Enter your name" class="input -outline -rounded-lg" backgroundColor="white" formControlName="name"></TextField>
            </StackLayout>
          
            <Button text="Log In" class="btn btn-primary -rounded-lg" backgroundColor="#ffecc5" (tap)="onLoginClicked()"></Button>
          </StackLayout>
    </DockLayout>
</AbsoluteLayout>